
* {
    padding: 0;
    margin: 0;
}

.navbar1{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item1 img{
    height: 4rem;
}
.item2 img{
    height: 4rem;
}
.item3 ul a{
    margin-right: 1rem;
}
.navbar {
    height: 5rem;
    width: 100%;
    background-color: rgb(12, 43, 215);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-logo img {
    height: 4rem;
    width: 4rem;
    margin-left: 3rem;
    border-radius: 50%;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}


.header{
    background-image: url(home1.jpg);
    height:20rem;
    width:100%;
    display:flex;
    justify-content:space-evenly;
}
.saiclogo img{
    height:9rem;
    width:9rem;
    margin-top: 3rem;
    margin-left: 7rem;
    border-radius: 50%;
}
.saictext{
    color:white;

}
.header-item2{  
    height:18.5rem;
    width:24rem;
    margin-top: 1rem;
    background-image: url(event_bg.jpg);
    border-radius: 6px;  
}
.event{
    color:white;
}
.whitediv{
    background-color: white;
    color:black;
    height:6.5rem;
    width:20rem;
    margin-left:1.5rem;
    border-radius: 10px;
}


.noticetext{
    color:white;
}
.box{
    background-color: white;
    height: 4rem;
    width:6rem;
    border-radius: 25% 10%;   
    color:rgb(7, 172, 237);
}
.date{
    display:flex;
    gap:2rem;
    justify-content: space-around;
    margin-left: 2rem;
}
.text{
    color:white;
    
}

.cont{
    background-image:url(caair_bg.jpg);
    width:100%;
    text-align: center;  
 }
.pcolor{
    color:white;
}
.h1color{
    color: white;
}
.h2color{
    color: white;
}


.alumnitextcolor{
    font-size: 35px;
    color:#006482;
    text-align: center;
}
.img{  
    display:flex;
    gap:3rem;
    justify-content: center;
}
.img img{
    height:10rem;
    width:10rem; 
}
.images-container {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
    position: relative;
    display:flex;
   
  }
  
  /* CSS for images */
  .image {
    width: 100%;
    height: 100%;
   
    top: 0;
    left: 0;
   
  }
  .imagem{
    display:flex;
    flex-direction: column;
  }


.footer img{
    height: 24rem;
    width: 100%;
    opacity: 0.05;
}
.footer {
    height: 24rem;
    width: 100%;
    position: relative; 
    background-image: url("footer_bg.jpg");
    background-size: cover; 
    background-color: black;
  }
  
  .footer::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.91); 
  }

  .footer-menu {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;  
    height: 100%; 
  }

  .info1 img{
    width: 12.5rem;
    height: 10.9rem;
    opacity: 1;
    margin-bottom: 2rem;
  }

  .info1 {
    display: flex;
    flex-direction: column;
  }
  
.info1 i{
    margin-right: 0.6rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid white;
}

.footer-menu h5{
    color: #D27800;
}

.footer-menu h6{
    color:white;
}
.footer-menu a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}
.footerbar{
    text-align: center;
    background-color: grey;
    height:2rem;
    width:100%;
}